<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>PartyOn</title>
        <meta name="description" content="comidad de los fiesteros, parranderos, gente divertida">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="static/css/normalize.min.css"/>
        <link rel="stylesheet" href="static/css/estilos.css">

        <script src="static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
               
                    <li><a href="index.html">Home</a></li>
                    <li><a id ="btnRank" href="rank.html">#</a></li>
                    <li><a id ="btnActividad" class="activo" href="#">Actividad</a></li>
                    <li><a href="dj.html">HeyDj</a></li>
                    <li><a href="perfil.html">Perfil</a></li>
                </ul>
            </nav>
        </header>
       

        <section id="contenido">
            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>

            <section id="contenido">
            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>

            <section id="contenido">
            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>

            <section id="contenido">
            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>

            <section id="contenido">

            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>
            
             <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>

            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>


            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>

            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>

            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>

            <article class="post">
                    <div class="imagen">
                        <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                    </div>
                    <img src="static/img/pequena2.jpg" alt="">
                    <div class="texto">
                        <div class="nombre">
                            David Briones <a href="">@dbrio</a>
                        </div>
                        <div class="describeme">
                            Choluteca honduras esta de feria...
                        </div>
                        <div class="lugar">
                            <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                        </div>
                        <div class="tiempo">
                            1s
                        </div>
                    </div>                   
                        
            </article>
            <div class="hr"></div>




           

            

            
           
           

            

        </section>

         <script src="static/js/prefixfree.dynamic-dom.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="static/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
