{% load thumbnail %}
<div id="asyncContainer">
{% for place in TPlaces %}
    <article id="rank">
        <div class="transparencia">

            <ul>
            <h1><a href="">{{place.PlaceName}}</a></h1>
            <li class="formato2">22
                <br/><div class="formato">Bolos</div>
            </li>
            <li class="formato2">Four Loco
                <br/><div class="formato">Bebida Favorita</div>
            </li>
            
            {% for photo in TPhotosPlace %}
            {% for photo2 in photo %}
                {% if photo2.PhotoPost_PlaceID.PlaceID == place.PlaceID and photo2.PhotoPostID >= photo2.maxiID %}
                    <li class="formato2">{{ photo2.PhotoPostDateTime|timesince }}
                        <br/><div class="formato">Ultimo Registro</div>
                    </li>
                {% endif %}
             {% endfor %}
        {% endfor %}
        </ul>
        </div>
        {% for photo in TPhotosPlace %}
            {% for photo2 in photo %}
                {% if photo2.PhotoPost_PlaceID.PlaceID == place.PlaceID and photo2.PhotoPostID >= photo2.maxiID %}
                    {% thumbnail photo2.PhotoPostPhoto "290x158" crop="center" as im %}
                    <img src="{{ im.url }}" alt="{{ photo2.PhotoPostDescription }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
             {% endfor %}
        {% endfor %}
    </article>
{% empty %}
<h2>No hay nada.</h2>
{% endfor %}
</div>

<script id="cosasLocas" type="text/javascript">
    $(function(){
        var contaLo = 0;
        var qLat = $("#Latitud").val();
        var qLong = $("#Longitud").val();
        var DataHome2 = function(){
            if (contaLo == 1) {
                $.ajax({
                    url: '/datahome/',
                    type: 'GET',
                    data: {
                        'qLat' : qLat,
                        'qLong' : qLong
                    },
                    traditional: true,
                    dataType: 'html',
                    success: function(result) {
                        //alert("datahome");
                        timer.stop();
                        $('#cosasLocas').remove();
                        $('#asyncContainer').remove();
                        $('#contenido').append(result);
                    },
                      //   error: function (xhr, ajaxOptions, thrownError) {
                      //   alert(xhr.status);
                      //   alert(thrownError);
                      // }
                });

            };
            contaLo = 2;
        };

        timer = $.timer(10000, function(){
            contaLo = 1;
            DataHome2();
        });
    });
</script>