<div id="asyncContainer">
{% for song in THeyDj %}
<article id="dj">
    <ul>
        <li id="cancion">{{ song.SongPostName }}</li>
        <li id="taradiar">{{ song.SongPostQuote }}</li>
        <li id="nombre">{{ song.SongPost_User.first_name }} {{ song.SongPost_User.last_name }} <a href="#">@{{ song.SongPost_User }}</a></li>
        <li id="votos" heigth="40px">{{ song.tVotosSong }}<br>
        {% for voto1 in TVotoUsuario %}
            {% for voto2 in voto1 %}
                {% if voto2.SongPoint_User.id == user.id %}
                {% if voto2.SongPoint_SongPostID.SongPostID == song.SongPostID %}
                <form action="/songpostpointdel/" class="classVoteSong" method="post" id="frmSongVote{{song.SongPostID}}" data-idBot="target{{song.SongPostID}}">{% csrf_token %}
                    <input type="hidden" name="SongPoint_SongPostID" value="{{ song.SongPostID }}">
                    <input type="hidden" name="SongPoint_User" value="{{ user.id }}">
                    <button class="icon-switch switchcolor2" id="target{{song.SongPostID}}" type="submit"></button>
                </form>
                {% endif %}
                {% endif %}
            {% empty %}
            {% if forloop.last %}
            <form action="/songpostpointadd/" class="classVoteSong" method="post" id="frmSongVote{{song.SongPostID}}" data-idBot="target{{song.SongPostID}}">{% csrf_token %}
                <input type="hidden" name="SongPoint_SongPostID" value="{{ song.SongPostID }}">
                <input type="hidden" name="SongPoint_User" value="{{ user.id }}">
                <button class="icon-switch switchcolor" id="target{{song.SongPostID}}" type="submit"></button>
            </form>
            {% endif %}
            {% endfor %}
        {% endfor %}
        </li>
    </ul>
</article>
{% empty %}
<h2>No hay nada.</h2>
{% endfor %}
</div>

<script id="cosasLocas" type="text/javascript">
    $(function(){
        $("button[Id]").closest(".classVoteSong").on('click', function() {
            var id = "#" + $(this).closest("form").attr('id');
            var idB = "#" + $(this).attr('data-idBot');
            $(this).addClass("mocos");          
            $(id).on('submit',function(){
                $.ajax({
                    data: $(id).serialize(),
                    type: $(id).attr('method'),
                    dataType: "json",
                    url: $(id).attr('action'),
                    success: function(data) {
                        if (data.codigo == 1) {
                            $(id).attr('action', '/songpostpointdel/');
                            $(idB).removeClass('switchcolor');
                            $(idB).addClass('switchcolor2');
                        } else if (data.codigo == 2) {
                            $(id).attr('action', '/songpostpointadd/');
                            $(idB).removeClass('switchcolor2');
                            $(idB).addClass('switchcolor');
                        }
                    }
                });
                    return false;
            });   
        });

        var DataHeyDj = function(){
            $.ajax({
                url: '/dataheydj/',
                type: 'GET',
                data: {
                    
                },
                traditional: true,
                dataType: 'html',
                success: function(result) {
                    //alert(result);
                    timer.stop();
                    $('#cosasLocas').remove();
                    $('#asyncContainer').remove();
                    $('#contenido').append(result);
                },
                  //   error: function (xhr, ajaxOptions, thrownError) {
                  //   alert(xhr.status);
                  //   alert(thrownError);
                  // }
            });
        };

        timer = $.timer(100000, function(){
            DataHeyDj();
        });
    });
</script>