<div id="asyncContainer">
{% for place in TPlaces %}
    <article id="rank">
        <div class="transparencia">

            <ul>
            <h1>{{place.PlaceName}}</h1>
            <li class="formato2">22
                <br/><div class="formato">Bolos</div>
            </li>
            <li class="formato2">Four Loco
                <br/><div class="formato">Bebida Favorita</div>
            </li>
            
            <li class="formato2">2:35 A.M
                <br/><div class="formato">Ultimo Registro</div>
            </li>
        </ul>
        </div>
         <img src="{{STATIC_URL}}/img/pequena2.jpg" alt="">
        
    </article>
{% empty %}
<h2>No hay nada.</h2>
{% endfor %}
</div>

<script id="cosasLocas" type="text/javascript">
    $(function(){
        var contaLo = 0;
        var DataHome2 = function(){
            if (contaLo == 1) {
                $.ajax({
                    url: '/datahome/',
                    type: 'GET',
                    data: {
                        
                    },
                    traditional: true,
                    dataType: 'html',
                    success: function(result) {
                        //alert("datahome");
                        timer.stop();
                        $('#cosasLocas').remove();
                        $('#asyncContainer').remove();
                        $('#contenido').append(result);
                    },
                      //   error: function (xhr, ajaxOptions, thrownError) {
                      //   alert(xhr.status);
                      //   alert(thrownError);
                      // }
                });

            };
            contaLo = 2;
        };

        timer = $.timer(10000, function(){
            contaLo = 1;
            DataHome2();
        });
    });
</script>