{% extends 'base.html' %}
{% block PageTitle %}Home{% endblock %}
{% block AsynchronousDiv %}

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img class="foto" src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>                   
           
</article>
<div class="hr"></div>



 <article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena3.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>
                      

</article>

<div class="hr"></div>

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>
                          

</article>
<div class="hr"></div>


<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>
                      

</article>
<div class="hr"></div>

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>    
                          

</article>
<div class="hr"></div>

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>
                         

</article>
<div class="hr"></div>

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>     
                         

</article>
<div class="hr"></div> 

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>     
                        

</article>
<div class="hr"></div> 

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>  
                           

</article>
<div class="hr"></div> 

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>                   

</article>
<div class="hr"></div> 

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>      
                        

</article>
<div class="hr"></div> 

<article class="post">
        <div class="imagen">
            <figure class="avatar"><img src="{{STATIC_URL}}img/dbrio.png" alt=""></figure>
        </div>
        <img src="{{STATIC_URL}}img/pequena2.jpg" alt="">
        <div class="texto">
            <div class="nombre">
                David Briones <a href="">@dbrio</a>
            </div>
            <div class="describeme">
                Choluteca honduras esta de feria...
            </div>
            <div class="lugar">
                <a href="#">Tabaco Bar</a>
            </div>
            <div class="tiempo">
                1s
            </div>
        </div>                 

</article>

{% endblock %}
