{% extends 'base.html' %}
{% block PageTitle %}Home{% endblock %}
{% block AsynchronousDiv %}
    <div id="cargandoModal" class="noCargaModal">
        <img width="55" height="55" class="imgCargando" src="{{STATIC_URL}}img/load.GIF" alt="PartyOn Loading...">
        
    </div>
        <div id="asyncContainer">
        
        </div>
{% endblock %}
{% block scriptsJS %}
    <script id="cosasLocas" type="text/javascript">
    var timer;
        $(function(){
            var DataHome = function(){
                $.ajax({
                    url: '/datahome/',
                    type: 'GET',
                    data: {
                        
                    },
                    traditional: true,
                    dataType: 'html',
                    success: function(result) {
                        //alert(result);
                        //alert("Home");
                        $('#cosasLocas').remove();
                        $('#asyncContainer').remove();
                        $('#contenido').append(result);
                    },
                      //   error: function (xhr, ajaxOptions, thrownError) {
                      //   alert(xhr.status);
                      //   alert(thrownError);
                      // }
                });
            };

            DataHome();
        });
    </script>
{% endblock %}