                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img class="foto" src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a id="btnLugar" href="lugar.html">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>                   
                           
                </article>
                <div class="hr"></div>
                
               

                 <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena3.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>
                                      

                </article>

                <div class="hr"></div>

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>
                                          

                </article>
                <div class="hr"></div>


                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>
                                      

                </article>
                <div class="hr"></div>

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>    
                                          

                </article>
                <div class="hr"></div>

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>
                                         

                </article>
                <div class="hr"></div>

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>     
                                         

                </article>
                <div class="hr"></div> 

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>     
                                        

                </article>
                <div class="hr"></div> 

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>  
                                           

                </article>
                <div class="hr"></div> 

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>                   

                </article>
                <div class="hr"></div> 

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>      
                                        

                </article>
                <div class="hr"></div> 

                <article class="post">
                        <div class="imagen">
                            <figure class="avatar"><img src="static/img/dbrio.png" alt=""></figure>
                        </div>
                        <img src="static/img/pequena2.jpg" alt="">
                        <div class="texto">
                            <div class="nombre">
                                David Briones <a href="">@dbrio</a>
                            </div>
                            <div class="describeme">
                                Choluteca honduras esta de feria...
                            </div>
                            <div class="lugar">
                                <a href="#">Tabaco Bar</a>
                            </div>
                            <div class="tiempo">
                                1s
                            </div>
                        </div>                 

                </article>
                <div class="hr"></div> 


