<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>PartyOn</title>
        <meta name="description" content="comidad de los fiesteros, parranderos, gente divertida">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.min.css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/estilos.css">
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
        <style type="text/css"> 
            body {
                background-image:url({{STATIC_URL}}img/fondo.svg);
                background-repeat:repeat-x;
                background-size: 100%;             }

        </style>
    <body>
        <section id="contenido">

            <form id="formLogin" name="formLogin" action="" method="post">{% csrf_token %}
            PARTY<span class="icon-switch icono"></span>N<div class="titulo">Reset your password.</div>
            <div class="imagenlogin">
                <label>{{ form.email.errors }}</label>
                <label for="id_email">E-mail:</label>
                {{ form.email }}                
                <br>
                <input id="boton" type="submit" value="Send" disabled>                
            </div>
            </form>

        </section>

        <script src="{{STATIC_URL}}js/prefixfree.dynamic-dom.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="{{STATIC_URL}}js/main.js"></script>
        <script>
            $("#chkPrivacy").change(function(){
                if (this.checked == true) {
                    $("#boton").prop("disabled", false);
                } else {
                    $("#boton").prop("disabled", true);
                };
            });
        </script>


    </body>
</html>

