{% autoescape off %}

Usted ha recibido este e-mail porque ha solicitado una recuperación de contraseña para su usuario en {{ site_name }}

Por favor dirijase a la siguiente pagina y elija una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid  token=token %}
{% endblock %}

En caso de olvidarlo, su nombre de usuario es: {{ user.username }}

Thanks for using our site!

The {{ site_name }} team.

{% endautoescape %}