<div id="asyncContainer">
	
	<div id="postphoto">
		<div id="formulario">
			<form action="/savephotopost/" method="post" name="frmPhotoPost" id="frmPhotoPost" enctype="multipart/form-data">{% csrf_token %}
				<span class="icon-location icono" ></span>
				<select class="combobox" name="PhotoPost_PlaceID">
				{% for place in NearPlaces %}
				  <option value="{{ place.PlaceID }}">{{ place.PlaceName }}</option> 
				{% empty %}
				<option value="invalid">No nearby places.</option>
				{% endfor %}
				</select>&nbsp; &nbsp;<a id="btnPlus" class="icon-plus" href="#"></a>
				<textarea placeholder="How's the party?" class="input" name="PhotoPostDescription" id="PhotoPostDescription" cols="20" rows="4" autofocus autocomplete="ON" maxlength="140"></textarea><br><br>
				<div class="selectphoto">
					<input id="boton" type="submit" value="Post">
					<div class="camara"><input class="icon-camera iconocam" type="file" name="PhotoPostPhoto" accept="image/*;capture=camera" required><span class="icon-camera iconocam" href=""></span></div>
					<a id="boton" href="">Cancel</a>
				</div>
				<input type="hidden" name="PhotoPost_User" value="{{ user.id }}">
				<input type="hidden" name="PhotoPost_Lat" value="" id="PhotoPost_Lat">
				<input type="hidden" name="PhotoPostLong" value="" id="PhotoPostLong">
			</form>
		</div>
	</div>
</div>
<script src="{{STATIC_URL}}js/max.js"></script>
<script type="text/javascript">
	$("#input-1, #input-2, #PhotoPostDescription").maxlength();
	$("#PhotoPost_Lat").val($("#Latitud").val());
	$("#PhotoPostLong").val($("#Longitud").val());
	$("#btnPlus").click(function(e){
		$("#cargandoModal").attr('class', 'siCargaModal');

	});
</script>