<div id="asyncContainer">
<!-- Aquí tenes que escribir todo el código html, dentro de estas etiquetas.-->
	<div id="postphoto">
		
		<div id="formulario">

			<form action="#" method="POST" name="frmLogin">
				<textarea placeholder="¿Cómo esta la fiesta?" class="input" name="write" id="write" cols="20" rows="8" autofocus autocomplete="ON" ></textarea><br><br>

				<div class="selectphoto">
					<input id="boton" type="submit" value="Post">
					<a id="boton" href="">Cancelar</a>
					<a id="boton" class="icon-camera icono" href=""></a>
					<a id="boton" class="icon-image icono" href=""></a>

				</div>
				
			</form>
		</div>
	</div>

</div>