<div id="asyncContainer">
	<div id="postphoto">
		<div id="formulario">
			<form action="/savesongpost/" method="post" name="frmPhotoPost" id="frmPhotoPost" enctype="multipart/form-data">{% csrf_token %}
				<a class="icon-location icono" href=""></a>
				<select class="combobox" name="SongPost_PlaceID">
				{% for place in NearPlaces %}
				  <option value="{{ place.PlaceID }}">{{ place.PlaceName }}</option>
				{% empty %}
				<option value="invalid">No nearby places.</option>
				{% endfor %}
				</select><br>
				<input class="input2" type="text" name="SongPostName" required autofocus autocomplete="ON" Placeholder="Song name">
				<textarea placeholder="Song verse" class="input" name="SongPostQuote" id="SongPostQuote" cols="20" rows="3"  autocomplete="ON" maxlength="140"></textarea><br><br>
				<div class="selectphoto">
					<input id="boton" type="submit" value="Post">
					<a id="boton" href="">Cancel</a>
				</div>
				<input type="hidden" name="SongPost_User" value="{{ user.id }}">
				<input type="hidden" name="SongPostLat" value="" id="SongPostLat">
				<input type="hidden" name="SongPostLong" value="" id="SongPostLong">
			</form>
		</div>
	</div>
</div>
<script src="{{STATIC_URL}}js/max.js"></script>
<script type="text/javascript">
$("#input-1, #input-2, #PhotoPostDescription").maxlength();
	$("#SongPostLat").val($("#Latitud").val());
	$("#SongPostLong").val($("#Longitud").val());
</script>