<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>PartyOn</title>
        <meta name="description" content="comidad de los fiesteros, parranderos, gente divertida">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.min.css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/estilos.css">
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <section id="contenido">
            <article>
 <div id="textosabout">
  <h1>Privacy Policy</h1>
  <p>
    PartyOn has established this privacy policy to explain to you how your information is protected, collected and used, which may be updated by PartyOn from time to time. PartyOn will provide notice of materially significant changes to this privacy policy by posting notice on the PartyOn site.</p>
  <p><strong>1. Protecting your privacy</strong></p>
  <ul>
    <li>
      We don't share your information with third parties for marketing purposes.</li>
    <br><li>
      We don't engage in cross-marketing or link-referral programs with other sites.</li>
    <br><li>
      We don't employ tracking devices for marketing purposes (&quot;cookies&quot;, &quot;web beacons,&quot; single-pixel gifs).</li>
    <br><li>
      We don't send you unsolicited communications for marketing purposes.</li>
    <br><li>
      Keep your password safe, it is your responsibility.</li>
    <br><li>
      PartyOn does not knowingly collect any information from persons under the age of 13. If PartyOn learns that a posting is by a person under the age of 13, PartyOn will remove that post.</li>
    <br><li>
      PartyOn, or people who post on PartyOn, may provide links to third party websites, which may have different privacy practices. We are not responsible for, nor have any control over, the privacy policies of those third party websites, and encourage all users to read the privacy policies of each and every website visited.</li>
  </ul>
  <p><strong>2. Data we collect</strong><br>
    We may collect contact information, such as name(s), location(s), website(s) and username(s) for contact purposes.<br>
    Please do not post any personal information on PartyOn's posts that you expect to keep private.<br>
    Our web logs collect standard web log entries for each page served, including your IP address, page URL, and timestamp. Web logs help us to diagnose problems with our server, to administer the PartyOn site, and to otherwise provide our service to you.</p>
  <p><strong>3. Data we store</strong><br>
    All contents are stored in our database, unless deleted by the user.<br>
    Our web logs and other records are stored indefinitely.<br>
    Although we make good faith efforts to store the information in a secure operating environment that is not available to the public, we cannot guarantee complete security.</p>
  <p><br>
    <strong>4. Archiving and display of PartyOn postings by search engines and other sites</strong><br>
    Search engines and other sites not affiliated with PartyOn - including&nbsp;google.com - archive or otherwise make available PartyOn postings, including resumes.</p>
  <p><strong>5. Circumstances in which PartyOn may release information</strong><br>
    PartyOn may disclose information about its users if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process.<br>
    PartyOn may also disclose information about its users to law enforcement officers or others, in the good faith belief that such disclosure is reasonably necessary to: enforce our&nbsp;Terms of Use; respond to claims that any posting or other content violates the rights of third-parties; or protect the rights, property, or personal safety of PartyOn, its users or the general public.</p>
  <p><strong>6. International Users</strong><br>
    By visiting our web site and providing us with data, you acknowledge and agree that due to the international dimension of PartyOn we may use the data collected in the course of our relationship for the purposes identified in this policy or in our other communications with you, including the transmission of information outside your resident jurisdiction. In addition, please understand that such data may be stored on servers located in the United States. By providing us with your data, you consent to the transfer of such data.</p>
  <p><strong>Edited: Jan 14th, 2012</strong></p>
</div>
            </article>
        </section>

        <script src="{{STATIC_URL}}js/prefixfree.dynamic-dom.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="{{STATIC_URL}}js/main.js"></script>
    </body>
</html>

