<div id="asyncContainer">

	<div id="postphoto">
		
		<div id="formulario">

			<form action="#" method="POST" name="frmLogin">
				<a class="icon-location icono" href=""></a>
				<select class="combobox">
				  <option value="tabaco">TabacoBar</option>
				  <option value="tabu">Tabu</option>
				</select>
				<textarea placeholder="¿Cómo esta la fiesta?" class="input" name="write" id="write" cols="20" rows="7" autofocus autocomplete="ON" ></textarea><br><br>
				<div class="selectphoto">
					<input id="boton" type="submit" value="Post">
					<a id="boton" href="">Cancelar</a>
					<a id="boton" class="icon-camera icono" href=""></a>
					<a id="boton" class="icon-image icono" href=""></a>

				</div>
				
			</form>
		</div>
	</div>

</div>