<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

	<title>PartyOn</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/myPartyOn.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/partyonResponsive.css">

	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
<header>
	<img  id="logo" src="{{STATIC_URL}}images/logo.png" alt="PartyOn">

</header>
<section>
	<article class="phone">
		<img id="windowphone" src="{{STATIC_URL}}images/windowsphone.jpg">
	</article>
	<article class="windows">
	<h1>PartyOn</h1>
	<h2>Price: FREE</h2>
	<h3>Released: April 2014</h3>
		<a href="http://www.windowsphone.com/es-es/store/app/partyon/ff9f3fa5-b169-4641-b951-014d35f1b18d"><img class="tiendas" src="{{STATIC_URL}}images/tiendaWindowPhon.jpg" alt=""></a>
		<div class="windows">
			<p>
				Bored? PARTYON takes you to the best nightlife atmosphere in the area where you are, you locate you quickly within the clubs, bars, festivals, helping you to choose the most fun concerts.</br></br>

				PARTYON is a social and intelligent application that shows you the best places and nightlife events, people you meet, current activities, the route to get to the party, and also has a new section HEYDJ where you can ask for the DJ party or concert singer you want to hear.</br></br>

				PARTYON application is designed to make your free time more fun. "Join the party".</br></br>
			</p>
		</div>
	</article>
		<article class="windows">
		<div <div id="tiendaWindows">
			<a  href="http://apps.microsoft.com/windows/es-es/app/partyon/d63c81b8-419e-4d61-aaac-189dcaca6a63"><img class="tiendas" src="{{STATIC_URL}}images/tiendaWindow.jpg" alt=""></a>
		<div class="windows">
			<p>
				This App is just a feed of the activity recorded in PartyOn version for Windows Phone, it is aiming to access the Activity from a Windows PC.
			</p>
		</div>
		</div>
	</article>

</section>
<footer>
	
</footer>




	
</body>
</html>