@import "style.styl"
a{
	color: #606060;
	text-decoration: none;
}
body{

	background: #000;
	color: #A3A2A3;
	font-family: arial;
	font-size: 17px;
	text-align: left;

}
header{
	background: rgba(15,101,239,1);
	height: 60px;
	margin-bottom: 700px;
	position: fixed;
	width: 100%;
	z-index:1;
	text-align:center;
}
header nav{
	margin-left:-30px;
	vertical-align: top;

}
header nav ul li{
	display: inline-block;
	padding: 0 10px 0 10px
	
}
header nav ul li a{
	color: rgba(255,255,255,0.5);

}
header nav ul li .activo{
	color: #fff;
	font-size: 18px;
}
footer{
	background: #070707;
	border-top: 1px solid #191919;
	bottom: 0;
	height: 25px;
	padding: 0 0 30px 0;
	position: fixed;
	text-align: center;
	vertical-align: bottom;
	width: 100%;
	z-index: 1;
}
footer ul{
	margin-left: -40px;
}
footer ul li{
	display: inline-block;
	padding: 0 20px 0 20px;
	vertical-align:top;
}
footer ul li a{
	color: rgba(255,255,255,0.6);

}

.activo{
	color:#fff;

}
.imagenlogin{
	
	background-repeat: no-repeat;

}

.selectphoto{
	background: #070707;
	border-top: 1px solid #191919;
	height:80px;
	position: fixed;
	text-align: center;
	vertical-align: bottom;
	width: 100%;
}
.selectphoto #boton{
	background:#070707;
	border:0;
	color: rgba(255,255,255,0.3);
	font-size:18px;
	padding: 10px 20px 10px 20px;
	text-align:center;
}

.input{
	background:#000;
	border-top: 1px solid #191919;
	border:0;
	color: hotpink;
	font-size:16px;
	margin-top:20px;
	padding-top:0;
	padding:1em;
	width:90%;
}
#formulario{
	padding-top:30px;
}
#formulario .combobox{
	background: 000;
	font-size: 14px;
	padding: 10px 10px 10px 10px;
    border-radius: 0;
    border: 0;
    color:#bbb;
    line-height: 1;
   -webkit-appearance: none;

}
.camara{
	display:inline-block;
	margin:0 40px 0 50px;
	width: 23px;
    height: 19px; 
    overflow: hidden;
}
.camara input{
    width: 23px !important;
    height: 19px !important;
}
#formLogin .icon-lock{
	padding:5px;
}
#camara{
	background: 000;
	font-size: 14px;
	padding: 10px 10px 10px 10px;
    border-radius: 0;
    border: 0;
    color:#bbb;
    line-height: 1;
   -webkit-appearance: none;
}
input{
	background: #000;

}
#contenido #formLogin input{
	background-image: url("../img/login.jpg");
	background-repeat: no-repeat;
	color:hotpink;
	border: 1px solid #1c1c1c;
	padding:5px;
}
#contenido #formLogin .icon-user{

	padding:5px;
}

#contenido #formLogin #boton{
	background:000;
	border:1;
	color:#b3b3b3;
	padding:5px 15px 5px 15px;
}
.icon-switch:before{
	color:red;
	content: "\e605";

}
.icon-location{
	
	padding-left:20px;
}

.icono{
	font-size:20px;
	text-align: center;


}
.letraicono{
	font-size:12px !important;
}

.hr{
	padding-bottom: 10px;
	border-bottom: 1px solid #222222;
}
#contenido{
	padding-top: 55px;
	padding-bottom: 45px;
}
#contenido #formLogin{
	text-align:center;
}

#contenido #formLogin .titulo{
	color:#3b3b3b;
	padding-bottom:10px;

}
/*#contenido #formLogin{
	width:100%;
	padding-left:20px;

}
#contenido #formLogin .titulo{
	width:100%;
	padding: 0 0 10px 50px;
	
}*/

.login{
	padding-top:990px;
}
#contenido #configure{
	text-align: right;
}

#contenido #info{
	color: #fff;
	text-align: center;

}

#contenido #info ul{
	background: #212121;
	padding: 30px 0 30px;
	margin-top: 40px;

	

}
#contenido #info ul li{
	display: inline-block;
	padding: 5px 15px 5px 15px;
	text-align: center;

}
#contenido #dj{
	color: #fff;


}

#contenido #dj ul{
	background: #212121;
	padding: 20px 0 20px 0;
	

}
#contenido #dj ul li{
	display: inline-block;
	padding: 0px 5px 0px 5px;
	

}
#contenido #dj #cancion{
	color: #D923F9;
	font-size: 1.5em;
	text-align: center;
	padding-left: 20px;


}
#contenido #dj #taradiar{
	color: #A3A2A3;
	font-size: 14px;
	padding-bottom: 15px;
	
	padding-left: 20px;
}
#contenido #nombre, #votos{
	font-size: 14px;
}

#contenido #dj #nombre{
	width: 80%;
}
#contenido #dj #votos{
	
	width: 10%;
}
#contenido h1{
	margin: 20px 0 0 0px;
}
#contenido .nombrelugar{
	text-align: center;
	
}
#contenido #perfil{
	margin-top: 10px;
	padding: 20px 0 20px 0px;
	background: #ddd;
	width: 100%;
	
}
#contenido #perfil #user{
	text-align: center;
}
#contenido #perfil .imagen {
	padding-left: 140px;

}
#contenido #perfil .imagen .avatar2{
	border-radius: 80%;
	border: 2px solid #000;
	height: 50px;
	overflow: hidden;
	width: 50px;
	position: relative;
	vertical-align: center;

}
.formato{
	color: #aaa;
	font-size: 12px;
	
}
.formato2{
	color:#ddd;
}
#contenido .post{
	font-size: 0.8em;
	margin: 15px 15px 15px 15px;
	
}

#contenido #rank{
	border-bottom: 1px solid #141414;
	margin: 20px 15px 10px 15px;

}

#contenido #rank ul{
	padding: 20px 0 0px 10px;
	text-align: center;

}
#contenido #rank ul li{
	display: inline-block;
	padding: 0px 10px 20px 10px;
	text-align: center;

}

#contenido #rank h1{
	text-align: center;
	padding-bottom: 10px;
}

#contenido .post .imagen{
	margin-bottom: 10px;
	margin-top:10px;

}
#contenido .post .imagen .avatar{
	border-radius: 50%;
	border: 2px solid #000;
	height: 50px;
	margin: 5px;
	overflow: hidden;
	padding: 0;
	width: 50px;
	position: absolute;
}



#contenido .texto{
	padding-top: 2px;

}
#contenido .texto .lugar, .tiempo{
	display: inline-block;
	font-size:12px;

}
#contenido .texto .nombre{
	padding-top: 3px;
	padding-bottom: 5px;
	
}
#contenido .texto .nombre a{
	color: #6D6D6D;

}
#contenido .texto .lugar a{
	color: #6D6D6D;
}
#contenido .texto .describeme{
	
	padding-top:2px;
}
#contenido .texto .tiempo{
	margin-top: 10px;
	padding-left: 160px;
}
.transparencia{
	background: rgba(0,0,0,0.5);
	height:160px;
	position:absolute;
	width:290px;
	
}
.transparencia a{
	color: #fff;
}
#settings .menusettings{
	padding-top:20px;
}
#settings .menusettings ul li{
	padding:5px;
	list-style:none;
}

input placeholder {
    color:red; 
}


@import "responsive.styl"
