@import "style.styl"
a{
	color: #606060;
	text-decoration: none;
}
body{

	background: #000;
	color: #A3A2A3;
	font-family: arial;
	font-size: 17px;
	text-align: left;

}
header{
	background: rgba(15,101,239,1);
	height: 60px;
	margin-bottom: 700px;
	position: fixed;
	width: 100%;
	z-index:1;
	text-align:center;
}
header nav{
	margin-left:-30px;
	vertical-align: top;

}
header nav ul li{
	display: inline-block;
	padding: 0 10px 0 10px;
	
}
header nav ul li a{
	color: rgba(255,255,255,0.5);

}
header nav ul li .activo{
	color: #fff;
	font-size: 18px;
}
footer{
	background: #070707;
	border-top: 1px solid #191919;
	bottom: 0;
	height: 25px;
	padding: 0 0 30px 0;
	position: fixed;
	text-align: center;
	vertical-align: bottom;
	width: 100%;
	z-index: 1;
}
footer ul{
	margin-left: -40px;
}
footer ul li{
	display: inline-block;
	padding: 0 15px 0 15px;
}
footer ul li a{
	color: rgba(255,255,255,0.6);

}

.activo{
	color:#fff;

}	
	
.icon-quill:hover{
	color hotpink
	content "\e601"
}

.icon-music:hover{
	color hotpink
	content "\e607"
}
.icon-spinner:hover{
	color hotpink
	content "\e608"
}
.icon-cog:hover{
	color hotpink
	content "\e609"
}
.icono{
	font-size:20px;
	text-align: center;


}
.letraicono{
	font-size:11px !important;

	
}
.hr{
	padding-bottom: 10px;
	border-bottom: 1px solid #222222;
}
#contenido{
	padding-top: 55px;
	padding-bottom: 40px;
}
#contenido #configure{
	text-align: right;
}

#contenido #info{
	color: #fff;
	text-align: center;

}

#contenido #info ul{
	background: #212121;
	padding: 30px 0 30px;
	margin-top: 40px;

	

}
#contenido #info ul li{
	display: inline-block;
	padding: 5px 15px 5px 15px;
	text-align: center;

}
#contenido #dj{
	color: #fff;


}

#contenido #dj ul{
	background: #212121;
	padding: 20px 0 20px 0;
	

}
#contenido #dj ul li{
	display: inline-block;
	padding: 0px 5px 0px 5px;
	

}
#contenido #dj #cancion{
	color: #D923F9;
	font-size: 1.5em;
	text-align: center;
	padding-left: 20px;


}
#contenido #dj #taradiar{
	color: #A3A2A3;
	font-size: 14px;
	padding-bottom: 15px;
	
	padding-left: 20px;
}
#contenido #nombre, #votos{
	font-size: 14px;
}

#contenido #dj #nombre{
	width: 80%;
}
#contenido #dj #votos{
	
	width: 10%;
}
#contenido h1{
	margin: 20px 0 0 0px;
}
#contenido .nombrelugar{
	text-align: center;
	
}
#contenido #perfil{
	margin-top: 10px;
	padding: 20px 0 20px 0px;
	background: #ddd;
	width: 100%;
	
}
#contenido #perfil #user{
	text-align: center;
}
#contenido #perfil .imagen {
	padding-left: 140px;

}
#contenido #perfil .imagen .avatar2{
	border-radius: 80%;
	border: 2px solid #000;
	height: 50px;
	overflow: hidden;
	width: 50px;
	position: relative;
	vertical-align: center;

}
.formato{
	color: #aaa;
	font-size: 12px;
	
}
.formato2{
	color:#ddd;
}
#contenido .post{
	font-size: 0.8em;
	margin: 15px 0 15px 7px;
	width: 100%;
}

#contenido #rank{
	border-bottom: 1px solid #141414;
	margin: 20px 15px 10px 15px;

}

#contenido #rank ul{
	padding: 20px 0 0px 10px;
	text-align: center;

}
#contenido #rank ul li{
	display: inline-block;
	padding: 0px 10px 20px 10px;
	text-align: center;

}

#contenido #rank h1{
	text-align: center;
	padding-bottom: 10px;
}

#contenido .post .imagen{
	margin-bottom: 10px;
}
#contenido .post .imagen .avatar{
	border-radius: 50%;
	border: 2px solid #000;
	height: 50px;
	margin: 5px;
	overflow: hidden;
	padding: 0;
	width: 50px;
	position: absolute;
}



#contenido .texto{
	
	padding-top: 2px;

}
#contenido .texto .lugar, .tiempo{
	display: inline-block;
}
#contenido .texto .nombre{
	padding-top: 3px;
	padding-bottom: 5px;
	
}
#contenido .texto .nombre a{
	color: #6D6D6D;

}
#contenido .texto .lugar a{
	color: #6D6D6D;
}
#contenido .texto .describeme{
	padding-bottom: 5px;
}
#contenido .texto .tiempo{
	margin-top: 10px;
	padding-left: 210px;
}
.transparencia{
	position:absolute;
	background: rgba(0,0,0,0.7);
	height:160px;
	
}
@import "responsive.styl"
