@import "style.styl"
a{
	color: #606060;
	text-decoration: none;
}
body{

	background: #000000;
	color: #A3A2A3;
	font-family: arial;
	font-size: 17px;
	text-align: left;

}
header{
	background: rgba(15,101,239,1);
	height: 60px;
	margin-bottom: 700px;
	padding-top: 10px;
	position: fixed;
	width: 100%;
	z-index:1;
	text-align:center;
}
header nav{
	margin-left:-30px;
	vertical-align: top;

}
header nav ul li{
	display: inline-block;
	padding: 0 10px 0 10px
	
}
header nav ul li a{
	color: rgba(255,255,255,0.5);

}
header nav ul li .activo{
	color: #fff;
	font-size: 18px;
}
footer{
	background: #070707;
	border-top: 1px solid #191919;
	bottom: 0;
	height: 25px;
	padding: 0 0 30px 0;
	position: fixed;
	text-align: center;
	vertical-align: bottom;
	width: 100%;
	z-index: 1;
}
footer ul{
	margin-left: -40px;
}
footer ul li{
	display: inline-block;
	padding: 0 20px 0 20px;
	vertical-align:top;
}
footer ul li a{
	color: rgba(255,255,255,0.6);

}

.activo{
	color:#fff;

}

.selectphoto{
	background: #070707;
	border-top: 1px solid #191919;
	height:80px;
	position: fixed;
	text-align: center;
	vertical-align: bottom;
	width: 100%;
}
.selectphoto #boton{
	background:#070707;
	border:0;
	color: rgba(255,255,255,0.3);
	font-size:18px;
	padding: 10px 20px 10px 20px;
	text-align:center;
}
#formulario{
	background:#000;
	padding-top:30px;
}

.input{
	background:#000;
	border:0;
	color: hotpink;
	font-size:16px;
	margin-top:20px;
	padding-top:0;
	padding:1em;
	width:90%;
}
.fondo{
	width:320px;
	height:114px;
}


#formulario #PhotoPostDescription{
	background:#141414;
}
.add{
	display:none;
}
#formulario .combobox{
	background: 000;
	font-size: 14px;
	padding: 10px 10px 10px 10px;
    border-radius: 0;
    border: 0;
    color:#bbb;
    line-height: 1;
   -webkit-appearance: none;

}
.camara{
	display:inline-block;
	margin:0 40px 0 50px;
	width: 23px;
    height: 19px; 
    overflow: hidden;
}
.camara input{
    width: 23px !important;
    height: 19px !important;
}
#formLogin .icon-lock{

	padding:5px;
}
#camara{
	background: 000;
	font-size: 14px;
	padding: 10px 10px 10px 10px;
    border-radius: 0;
    border: 0;
    color:#bbb;
    line-height: 1;
   -webkit-appearance: none;
}
input{
	background: #000;

}
#contenido #formLogin{
	background-image:url(../img/fondo.jpg);
	

}

#contenido #formLogin .inpuform{
	background-repeat: no-repeat;
	color:hotpink;
	box-shadow: 0px 0px 4px #9b5af9;
	border: none;
	border-radius: none;
	padding:5px;
}
#contenido #formLogin .icon-user{

	padding:5px;
}

#contenido #formLogin #boton{
	background:000;
	border:1;
	color:#b3b3b3;
	padding:5px 15px 5px 15px;
	border: none;
}
.icon-switch{
	content: "\e605";

}
.switchcolor{
	background:#000;
	border:0;
	color:red;
	font-size:18px;
	
}
.switchcolor2{
	background:#000;
	border:0;
	color:#05c609;
	font-size:18px;
}

/*.icon-plus{
	color:#688A08;
}*/
.icon-location{
	
	padding-left:20px;
}

.icono{
	font-size:20px;
	text-align: center;


}
.iconocam{
	font-size:20px;
}
.letraicono{
	font-size:12px !important;
}
#ventanaPlus{

}

.hr{
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
	margin: 0 15px 0 15px;
}
#contenido{
	padding-top: 65px;
	padding-bottom: 75px;
}
#contenido #formLogin{
	color:#fff;
	text-align:center;
}

#contenido #formLogin .titulo{
	color:#C3C3C3;
	padding-bottom:10px;

}
/*#contenido #formLogin{
	width:100%;
	padding-left:20px;

}
#contenido #formLogin .titulo{
	width:100%;
	padding: 0 0 10px 50px;
	
}*/

.login{
	padding-top:990px;
}
#contenido #configure{
	text-align: right;
}

#contenido #info{
	color: #fff;
	text-align: center;

}

#contenido #info ul{
	background: #212121;
	padding: 30px 0 30px;
	margin-top: 40px;

	

}
#contenido #info ul li{
	display: inline-block;
	padding: 5px 15px 5px 15px;
	text-align: center;

}
#contenido #dj{
	color: #fff;
	margin: 0 0 0 0;

}


#contenido #dj ul{
	border-bottom: 1px solid #1e1e1e;
	padding: 10px 0 2px 0;
	
}
#contenido #dj ul li{
	display: inline-block;
	padding: 0px 2px 0px 2px;
	

}
#contenido #dj #cancion{
	color: #D923F9;
	font-size: 1.5em;
	text-align: center;
	padding-left: 15px;


}
#contenido #dj #taradiar{
	color: #A3A2A3;
	font-size: 14px;
	padding-bottom: 15px;
	
	padding-left: 20px;
}
#contenido #nombre, #votos{
	font-size: 14px;
	text-align:center;
	color:#6E6E6E;
}

#contenido #dj #nombre{
	padding-left: 10px;
	width: 70%;
}
#contenido #dj #votos{
	padding-left: 20px;
}
#contenido h1{
	margin: 20px 0 0 0px;
}
#contenido .nombrelugar{
	text-align: center;
	
}
#contenido #perfil{
	margin-top: 10px;
	padding: 20px 0 20px 0px;
	background: #ddd;
	width: 100%;
	
}
#contenido #perfil #user{
	text-align: center;
}
#contenido #perfil .imagen {
	padding-left: 140px;

}
#contenido #perfil .imagen .avatar2{
	border-radius: 80%;
	border: 2px solid #000;
	height: 50px;
	overflow: hidden;
	width: 50px;
	position: relative;
	vertical-align: center;

}
.formato{
	color: #aaa;
	font-size: 12px;
	
}
.formato2{
	color:#ddd;
}
#contenido .post{
	font-size: 0.8em;
	margin: 15px 15px 15px 15px;
	
}
.photo{
	overflow:hidden;
	max-width: 290px;
	max-height: 158px;
}

#contenido #rank{
	
	margin: 20px 10px 0px 10px;
	padding-left: 5px;
	padding-top: 5px;

}

#contenido #rank ul{
	padding: 20px 0 0px 0px;
	text-align: center;
}
#contenido #rank ul li{
	background: rgba(0,0,0,0.4);
	border-radius: 5px;
	display: inline-block;
	padding: 5px 5px 0px 8px;
	text-align: center;

}

#contenido #rank h1{
	text-align: center;
	padding-bottom: 10px;
}

#contenido .post .imagen{
	margin-bottom: 10px;
	margin-top:10px;

}
#contenido .post .imagen .avatar{
	border-radius: 50%;
	border: 3px solid #fff;
	height: 50px;
	margin: 5px;
	overflow: hidden;
	padding: 0;
	width: 50px;
	position: absolute;
}



#contenido .texto{
	background:#161616;
	padding: 2px 0 5px 10px;
	margin-bottom: 10px;
	
}
#contenido .texto .lugar, .tiempo{
	display: inline-block;
	font-size:12px;

}
#contenido .texto .nombre{
	padding-top: 3px;
	padding-bottom: 5px;
	
}
#contenido .texto .nombre a{
	color: #6D6D6D;

}
#contenido .texto .lugar a{
	color: #6D6D6D;
}
#contenido .texto .describeme{
	
	padding-top:2px;
}
#contenido .texto .tiempo{
	width: 40%;
	margin-top: 10px;
	text-align: right;
}
.transparencia{
	background: rgba(0,0,0,0.3);
	height:160px;
	position:absolute;
	width:295px;
	
}
.transparencia a{
	color: #fff;
}
#settings .menusettings{
	padding-top:20px;
}
#settings .menusettings ul li{
	padding:5px;
	list-style:none;
}

input placeholder {
    color:red; 
}
.noCargaModal{
   display: none;
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 99999999999999;
 }
 
 .imgCargando{
   margin: 30% 40% 20px 40%;
 }
 
 .siCargaModal{
   display: inline-block;
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 99999999999999;
   margin: auto;
   background-color: rgba(255,255,255,.4);
   top: 0;
   left: 0;
  }


@import "responsive.styl"
