@media screen and (max-width:320px) {
	body{
		margin-left: 15px;
	}
	header{
		width: 300px;
	}
	#windowphone{
		display: none;
	}
	.phone{
		display: inline-block;
	}
	.windows{
		display: inline-block;
	}
	.tiendas{
	width: 300px;
	}
	#tiendaWindows{
	padding-top: 5px;
	}
	.windows{
	display: inline-block;
	vertical-align: top;
	width: 290px;
	color: #333;
	text-align: justify;
	padding-right: 30px;
	}

}


