@media screen and (min-width:768px){
	

	#contenido .post, #rank, #dj{
		display: inline-block;
		vertical-align: top;
		width: 45%;
	}
	#contenido #perfil{
		width: 350px;
	}
	#contenido #configure{
		width: 350px;
	}
	#contenido .post .imagen{
	margin-bottom: 10px;
	margin-left:480px;
	}
	#contenido .post .texto .nombre, .describeme, .lugar, .tiempo{
		margin-left: 380px;
		width:100%;
	}
	#contenido .post .texto .lugar, .tiempo{
		padding-top: 10px;
	}
	
	#contenido .post .texto .nombre{
		margin-top: -100px;
	}

	#contenido .post{
	margin-bottom: 10px;
	margin-left: 30px;
	}
	#contenido #dj{
		margin-left: 20px;
		text-align: center;
	}

}

@media screen and (min-width:1024px){
	#contenido #rank, #dj{
		width: 29%;
		margin-left: 20px;
	}

	#contenido .post{
		display:block;
	}

	#contenido .post .imagen{
	margin-bottom: 10px;
	margin-left:600px;
	}

	#contenido .post .texto .nombre, .describeme, .lugar, .tiempo{
		margin-left: 400px;
		width:100%;
	}
	#contenido .post .texto .lugar, .tiempo{
		padding-top: 10px;
	}
	
	#contenido .post .texto .nombre{
		margin-top: -100px;
	}

	#contenido .post{
	margin-bottom: 10px;
	margin-left: 120px;
	}
	#contenido .post .imagen .avatar{
		border-radius: 50%;
		border: 2px solid #000;
		height: 50px;
		margin: 5px;
		overflow: hidden;
		padding: 0;
		width: 50px;
		position: absolute;
	}

	#contendio .post .texto .lugar{
		width: 60%;
	}
	#contenido #dj{
		display:inline-block;
		vertical-align:top;
		width:30%;

	}
	

}
@media screen and (min-width:1280px){
	#contenido .post, #rank, #dj{
		width: 30%;
		margin-left: 20px;
	}

	#contenido .nombre{
		margin-top: -100px;
	}

	#contenido .post{
	margin-bottom: 10px;
	margin-left: 200px;
	}


	

}
